.highlight-text {
  background-color: rgba(0,0,0,.03);
  padding: 1em;
  border: 1px solid lightgrey;
}
.highlight-text > mark {
  padding: 0;
  background-color: orange;
}
.select2-container--open {
    z-index: 9999999
}
#highlighterpopup {
  cursor: move;
  min-width: 200px;
  background-color: white;
  padding: 1em;
  border: 1px solid black;
  position: absolute;
  display: none;
}
#highlightermenu, #highlighter-annotation-menu {
  display: none;
}
.highlighter-menu-item {
  cursor: pointer;
}
