<link itemprop="url" rel="stylesheet" href="/static/css/highlighter.css">
<span class="text-danger" id="highlightermarker"></span>
<div class="popup" id="highlighterpopup"></div>
<div id="highlightermenu">
  <h4>Create annotation:</h4>
  <div class="btn btn-primary btn-block highlighter-menu-item"
       data-rel="person_to_place">Person to Place</div>
  <div class="btn btn-primary btn-block highlighter-menu-item"
       data-rel="person_to_institution">Person to Institution</div>
  <div class="btn btn-primary btn-block highlighter-menu-item"
       data-rel="person_to_person">Person to Person</div>
</div>
<input id="hiddeninput" type="hidden" name="annotationdata">
</input>
<div id="highlighter-annotation-menu">
  <div id="header"></div>
  <a id="delbtn" class="btn btn-danger">Delete</a>
</div>
<script src="/static/js/highlighter.js"></script>
